body {
  padding-top: 40px;
  padding-bottom: 30px;
}

.news_table {
    overflow-y: scroll;
    height: 200px;
}

.news_date {
    font-style: italics;
    width: 180px;
    padding-left: 50px;
    height: 40px;
}

.header-img {
  padding-top: 20vh;
  padding-bottom: 55vh;
  height: auto;
  background: url(../images/top.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.services-img {
  margin-top: 80px;
  height: 200px;
  background: url(../images/fallingwater.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-img {
  margin-top: 80px;
  height: 200px;
  background: url(../images/technion.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
  .header-img {
    background-attachment: scroll;
  }
  .about-img {
    background-attachment: scroll;
  }
  .contact-img {
    background-attachment: scroll;
  }
}

table {
	padding: 10px 10px;
}

.social{
	padding:0;
	margin:7px 0 0 0;
	float:right;
	width:370px;
}
.social li{
	text-indent:-9999999px;
	display:block;
	float:left;
	margin:0 4px;
}

.social li.renren a{
	background:url(../images/icon_renren.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
}
.social li.facebook a{
	background:url(../img/icon_facebook.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
}
.social li.weibo a{
	background:url(../images/icon_weibo.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
}
.social li.googlescholar a{
	background:url(../img/icon_googlescholar.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
}
.social li.linkedin a{
	background:url(../img/icon_linkedin.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
}
.social li.github a{
	background:url(../img/icon_github.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
}
.social li a{
	opacity:.5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.social li a:hover{
	opacity:1;
}
.maintext {
	font-size: 18px;
}

.text-col-right {
	padding-top: 20px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


span.hiddenemail{ 
     display:none; 
}

